__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.idea/
.vscode/

# Allow project images
!static/img/
static/img/*
!static/img/*.png
!static/img/*.jpg
!static/img/*.jpeg
!static/img/*.svg
